/* 
 * Adult Campaign CSS 
 * Created and Updated: 10.2018
 * 
 */ 


/* ==========================================================================
   Scope Class   
   ========================================================================== */

.esdcseniorscampaign { 
    color: #2D2B2C !important;
}

/* ==========================================================================
   Background Image Classes   
   ========================================================================== */

.esdcseniorscampaign .esc-bg { 
    height: 350px;
    width: 100%;
    background: linear-gradient(to bottom, transparent 80%, #f9f9f9 100%), url("https://canada-ca-adult-campaign.netlify.com/images/adult-campaign/hero-bg.png") no-repeat center; 
    background-size: cover;
}

/* ==========================================================================
   Detail Elements Overide Class   
   ========================================================================== */

.esdcseniorscampaign details summary { 
    border-radius: 0px !important; 
    background-color: red !important;
    padding: 15px;
    color: #fff; 
    font-weight: 600;
    font-size: 100%;
}   

.esdcseniorscampaign details[open] { 
    border-radius: 0px;
    border: none;
}

.esdcseniorscampaign details[open] summary {
    border-bottom: none;
    margin-bottom: 15px;
}

.esdcseniorscampaign details ul {
    margin: 0px 0px 0px 15px; 
    padding: 0px; 
    list-style: none;
}

.esdcseniorscampaign details ul li {
    padding: 10px 0px 10px 0px;
}

.esdcseniorscampaign details ul li a {
    color: #f1efef !important;
    font-weight: 600 !important;
}

/* ==========================================================================
   Detail Elements Color Classes   
   ========================================================================== */

.esdcseniorscampaign details.esc-blue-0 { 
    background-color: rgba( 21, 67, 96, 0.8 ) !important;
}
.esdcseniorscampaign details.esc-blue-0 summary { 
    background-color: rgb( 21, 67, 96 ) !important; 
}

.esdcseniorscampaign details.esc-dark-0 { 
    background-color: rgba(  40, 55, 71, 0.8 ) !important;
}
.esdcseniorscampaign details.esc-dark-0 summary { 
    background-color: rgb(  40, 55, 71 ) !important; 
}

.esdcseniorscampaign details.esc-teal-0 { 
    background-color: rgba(  14, 98, 81, 0.8 ) !important;
}
.esdcseniorscampaign details.esc-teal-0 summary { 
    background-color: rgb(   14, 98, 81 ) !important; 
}

.esdcseniorscampaign details.esc-orange-0 { 
    background-color: rgba( 185, 119, 14, 0.8);
}
.esdcseniorscampaign details.esc-orange-0 summary { 
    background-color: rgb( 185, 119, 14) !important; 
}

.esdcseniorscampaign details.esc-red-0 { 
    background-color: rgba(  100, 30, 22, 0.8);
}
.esdcseniorscampaign details.esc-red-0 summary { 
    background-color: rgb(  100, 30, 22) !important; 
}

.esdcseniorscampaign details.esc-green-0 { 
    background-color: rgba( 20, 90, 50, 0.8);
}
.esdcseniorscampaign details.esc-green-0 summary { 
    background-color: rgb( 20, 90, 50 ) !important; 
}

.esdcseniorscampaign details.esc-purple-0 { 
    background-color: rgba( 81, 46, 95, 0.8);
}
.esdcseniorscampaign details.esc-purple-0 summary { 
    background-color: rgb( 81, 46, 95 ) !important; 
}